<tr>
	<td colspan=2 style="background-color:#EEE; border-bottom:1px solid #CCC; padding-top:7px !important"><strong>##nomor#. #nama_item# - <span class="div-stok" style="font-weight:normal !important">(Sisa Stok : #stok# unit) </span><span style="display:#display-gudang-non-lokal#">Gudang Non-Lokal #gudang#</span></strong>
			<div style="text-align:right; line-height:21px">
				<strong>#kuantitas# unit x Rp#harga# = Rp#sub_total_gross#</strong><br />
				Diskon campaign -(Rp#diskon_campaign#)<br />
				Diskon tambahan -(Rp#diskon_tambahan#)<br />
				<strong>Total diskon #total_diskon_persen#% -(Rp#total_diskon_nominal#)</strong><br />
				<!--Rasio diskon : order gross / net campaign<br />#rasio_diskon_total_order#%<br />-->
				<strong>Sub total Rp#sub_total#</strong><br />
				Keterangan : #keterangan#
			</div>			
	</td>
</tr>