<div class="bg-#kelas#" >
	<div>
		<input type="button" id="#kode_dealer#" onclick="lanjut_proses('#kode_dealer#', '#order_id#')" value="Pilih" style="float:right;" />
		<strong>No. Order : #order_id#</strong><br />
		<strong>#kode_dealer#</strong><br />
		#nama_dealer#<br />
		#alamat#<br />
		<span style="display:#display#"><br />Nilai Order Terbaru (belum dikirimkan)<br /><strong>Rp#nilai-order#</strong></span>
		<span style="display:none" class="display-nama-sales"><br />Sales Yang Mengajukan<br /><strong>#nama-sales#</strong></span>
	</div>
</div>