<div style="width:100%; float:left; border:solid 3px #CCC; margin:13px 0px 13px 0px">
	<div style="padding:7px">
		<input type="button" id="b_tutup_#no_order#" value="[X] Tutup"  class="tombol-tutup-detail-order-po-referensi" 
			onclick="javascript:window.close()" style="float:right" />
		No. Order : #no_order#<br />
		No. PO : #no_po#<br />
		Dealer : #dealer#<br />
		Tanggal Order : #tanggal_order#<br />
		Nilai Order (Rp) : #nilai_order#
		<input type="button" id="b_order_prev_#no_order#" value="Lihat Detail Order" class="tombol-lihat-detail-order-po-referensi" 
			onclick="javascript:window.open('transaksi-2.php.po-cek-detail.php?order_no=#no_order#')" style="width:100%; margin-top:13px" />
		
	</div>	
</div>
<style>
#b_lanjut{display:none}
</style>