<div class="item-order bg-#kelas#" >
	<div id="div_container_#diskonid#" class="#diskon-diterapkan#">
		<div style="margin:0px !important"><strong style="text-decoration:underline">#diskon-label#</strong>&nbsp;#diskon-label-keterangan#</div>
		<div style="margin:0px !important">Nilai diskon : #diskon#</div>
		<div style="margin:0px !important">
			Daftar Item :
			#daftar_item#		
		</div>
		<div style="margin:0px !important">
			Keterangan : #diskon-keterangan#
		</div>
		<div style="margin:0px !important">
			Lampiran : <a href="#url_lampiran#" target="_blank">#data_lampiran#</a>
		</div>
		<div style="margin:0px !important">
			#persetujuan-melalui#
		</div>
	</div>
</div>