<div class="item-order bg-#kelas#" >
	<div id="div_container_#diskonid#" class="#diskon-diterapkan#">
		<div style="margin:0px !important"><strong style="text-decoration:underline">#diskon-label#</strong>&nbsp;#diskon-label-keterangan#</div>
		
		<div style="float:left; margin-bottom:3px; width:100%">
			<strong>Detail budget</strong>
			<table cellpadding="3" cellspacing="0" border="1" width="100%">
				<tr><td>Budget terpakai (Rp)</td><td>
						#budget_terpakai_non_share#
						<div style="padding:0px; padding-top:5px; display:#display-share-budget#"> [Share Budget : #budget_terpakai_share#<strong style="text-decoration:none">. Kombinasi dengan #share-budget#</strong>]</div>
					</td></tr>
				<tr><td>Budget terpakai order lain (Rp)</td><td>#budget_terpakai_order_lain#</td></tr>
			</table>			
			#keterangan_bqtq#
		</div>
		
		<!--<div style="float:left; margin-bottom:3px; width:100%"><strong style="text-decoration:none">Budget terpakai Rp#budget_terpakai#</strong></div>
		<div style="float:left; margin-bottom:3px; width:100%; display:#display-share-budget#"><strong style="text-decoration:none">Kombinasi dengan #share-budget#</strong></div>
		<div style="margin:0px !important">Nilai diskon : #diskon#</div>-->
		
		<div style="margin:0px !important">
			<strong>Daftar Item :</strong>
			#daftar_item#		
		</div>
		<div style="margin:0px !important">
			Keterangan : #diskon-keterangan#
		</div>
		<div style="margin:0px !important">
			Lampiran : <a href="#url_lampiran#" target="_blank">#data_lampiran#</a>
		</div>
		<div style="margin:0px !important">
			<span style="border-top:1px; margin-top:3px">
				Persetujuan melalui : #persetujuan-melalui#
				<span style="display:#display-persetujuan#"><br />
					Status persetujuan : #status-persetujuan#<br />
					Tanggal persetujuan : #tanggal-persetujuan#<br />
					Keterangan persetujuan : #keterangan-persetujuan#
				</span>
			</span>
		</div>
	</div>
</div>