<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<style type=text/css>
.submenu, .submenu:link, .submenu:visited { font-family: Verdana, Arial, Tahoma; font-size: 10px; color: #FF6600; text-decoration: none; }
.submenu:hover { color: darkblue; text-decoration: none }
.content_small, .content_small:link, .content_small:visited { font-family: Verdana, Arial, Tahoma; font-size: 12px; color: #0066FF; text-decoration: none; }
.content_small:hover {
 font-family:Verdana, Arial, Tahoma;
 font-size: 12px;
 color: #FF6600;
 text-decoration: none;
}
.footer_small, .footer_small:link, .footer_small:visited { font-family: Verdana, Arial, Tahoma; font-size: 10px; color: #0066FF; text-decoration: none; }
.footer_small:hover {
 font-family: Verdana, Arial, Tahoma;
 font-size: 10px;
 color: #FF6600;
 text-decoration: none;
}

</style>
</head>

<body>
<table width="713px" border="0" cellpadding="1" cellspacing="1" align="center">
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" style="padding-left:5px; padding-right:8px"><table width="100%" border="0" cellpadding="1" cellspacing="1">
      <tr>
        <td bgcolor="#CCCCCC"><table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
          <tr>
            <td align="left" ><table width="100%" border="0" cellspacing="0" cellpadding="20px" style="background-color:#F7941E; height:80px">
                <tr>
                  <td><table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#F7941E" >
                      <tr>
                        <td align="left" valign="bottom" style="color:#FFFFFF; font-family: Verdana, Tahoma, Arial; font-size:12px; padding:0px; letter-spacing:1px; "><a href="http://www.modena.co.id/category-1--clearcompare.php" style="color:#FFFFFF; text-decoration:none"><strong>cooking</strong></a> | <a href="http://www.modena.co.id/category-2--clearcompare.php"  style="color:#FFFFFF; text-decoration:none"><strong>cleaning</strong></a> | <a href="http://www.modena.co.id/category-3--clearcompare.php" style="color:#FFFFFF; text-decoration:none"><strong>cooling</strong></a> </td>
                        <td align="right" valign="bottom"><a href="http://www.modena.co.id"><img src="http://www.modena.co.id/images/logo.png" border="0" /></a></td>
                      </tr>
                  </table></td>
                </tr>
            </table></td>
          </tr>
          <tr>
            <td align="left" style="padding-left:5px; padding-right:15px; padding-bottom:10px; padding-top:10px">
				<table width="100%" border="0" cellspacing="1" cellpadding="1">
				<tr>
					<TD>
					<div align="justify" style="line-height:25px;padding:10px;font-family: Verdana, Tahoma, Arial; font-size:12px; color:#666666; ">
					<strong>Dear #greetingname#</strong>,<br /><br />
					#content#
					</div>
                    </td>
          		</tr>
	        </table>
			</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="2" align="left" style=" padding-top:15px; padding-bottom:15px">
   <table width="100%" cellpadding="0" cellspacing="0" border="0" style=" font-family: Verdana, Tahoma, Arial; font-size:11px; color:#000000; text-decoration: none;">
    		<tr>
    			<td align="justify" valign="bottom" style="line-height:40px">
				#lang_email_info_en#
				</td>
    		</tr>
    		<tr>
    		<td align="right" valign="bottom">
    			<table cellpadding="0" cellspacing="0" width="100%"  style=" font-family: Verdana, Tahoma, Arial; font-size:10px; color:#000000; text-decoration: none;">
    				<tr>
    					<td align="left">Join us at :</td>
    					<!--<td align="right"><a href="http://www.facebook.com/pages/Modena-Indonesia/178878438821055" class="footer_small"  style="font-size:8px"><img src="http://www.modena.co.id/newsletter/uploads/032011_2/modenaindonesia.jpg" border="0" /></a></td>
    					<td align="right"><a href="http://www.facebook.com/pages/Modena-Cooking-Club/107634215943729" class="footer_small"  style="font-size:8px"><img src="http://www.modena.co.id/newsletter/uploads/032011_2/modenacookingclub.jpg" border="0" /></a></td>
    					<td align="right"><a href="http://www.twitter.com/modenaindonesia" class="footer_small" style="font-size:8px"><img src="http://www.modena.co.id/newsletter/uploads/032011_2/@modenaindonesia.jpg" border="0" /></a></td>
    					<td align="right"><a href="http://community.modena.co.id" class="footer_small" style="font-size:8px"><img src="http://www.modena.co.id/newsletter/uploads/032011_2/communitymodenacoid.jpg" border="0" /></a></td>-->
    				</tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                    	<td align="center" valign="top"><span style="padding-right:10px;padding-left:10px;padding-bottom:5px;line-height:25px;letter-spacing:0px;text-decoration:none;font-family: Verdana, Tahoma, Arial; font-size:12px; color:#FFFFFF; "><img src="http://www.modena.co.id/newsletter/uploads/reg/2013-12/footer-link.jpg" width="90%" usemap="#Map" border="0" /></span></td>
                    </tr>
    			</table>    			
   			  </td>    			
    		</tr>
    	</table>
    </td>
  </tr>
  <tr>
    <td colspan="2"><div align="justify" style="font-family: Verdana, Tahoma, Arial; font-size:10px; color:#000000;">#lang_email_footer#</div></td>
  </tr>
  <tr>
    <td colspan="2" align="left" style=" font-family:  Verdana, Arial, Tahoma; font-size: 10px; color: #FF6600; text-decoration: none;padding-bottom:20px; padding-top:20px"><IMG height=1 src="http://www.modena.co.id/newsletter/dot.gif" width="100%"></td>
  </tr>
  <tr>
    <td align="left" >
    	<table width="100%" cellpadding="0" cellspacing="0" border="0" style=" font-family:  Verdana, Arial, Tahoma; font-size: 10px; color: #FF6600; text-decoration: none;">
    		<tr><td align="left" style=" font-family:  Verdana, Arial, Tahoma; font-size: 10px; color: #FF6600; text-decoration: none;" valign="bottom">
		<A class=submenu href="http://www.modena.co.id/privacy_policy.php">privacy policy</A> | <A class=submenu href="http://www.modena.co.id/">modena.co.id</A> <BR>
    		copyrights&copy;1981-2015 modena.co.id </td>
    		</tr>
    	</table>
    </td>	
  </tr>
</table>


  <map name="Map" id="Map">
    <area shape="rect" coords="-14,2,134,28" href="http://www.facebook.com/pages/Modena-Indonesia/178878438821055" alt="MODENA Indonesia" />
    <area shape="rect" coords="156,2,309,26" href="http://www.facebook.com/pages/Modena-Cooking-Club/107634215943729" alt="MODENA Cooking Club" />
    <area shape="rect" coords="329,2,467,27" href="http://www.twitter.com/modenaindonesia" alt="@MODENAindonesia" />
    <area shape="rect" coords="496,3,623,31" href="http://www.youtube.com/user/MODENAIndonesia" alt="youtube MODENA Indonesia" />
    <area shape="rect" coords="102,51,191,76" href="http://pinterest.com/MODENAid" alt="pinterest MODENA" />
    <area shape="rect" coords="238,50,363,77" href="http://www.flickr.com/photos/modenaindonesia" alt="flickr MODENA Indonesia" />
    <area shape="rect" coords="415,50,539,75" href="http://instagram.com/modenaindonesia" alt="Instagram MODENA Indonesia" />
  </map>
</body>
</html>
