<div style="width:100%">
	<table style="font-weight: bold;font-size: 1.17em !important">
		<tr>
			<td>Free Item</td><td>:</td><td>#nama_item#</td>
		</tr>
		<tr>
			<td>NET</td><td>:</td><td>Rp #harga_item#</td>
		</tr>
		<tr>
			<td>NET Dealer</td><td>:</td><td>#net_dealer#% </td>
		</tr>
	</table>

</div>

<hr>
<p style="text-align: justify;font-style: italic;background-color: whitesmoke;padding: 10px;border-radius: 5px;">
* Note : perhatikan bahwa apabila order ini mengambil lebih dari satu gudang, maka setiap gudang minimal harus mengandung 1 unit produk yang berbayar (bukan free item) sehingga faktur akan mempunyai nilai tidak nol.</p>
<h3>Pilih free item dari gudang :</h3>


<script type="text/javascript">
	$(".close").click(function(){  
	   	$("#myModal").css("display","none");
	});		
</script>