<div class="item-order bg-#kelas#" style="padding-bottom:1px !important; padding-top:1px !important; padding-right:7px; width:100%; ">
	<div class="item">#itemdesc# <span style="font-weight:normal !important;">(Rp#harga#) </span><!--<br />#item#--> 
	<div style="font-weight:normal !important; text-align:right; width:100%">Stok Lokal/Pusat : #stok_lokal# / #stok_pusat#</div></div>	
	<div style="font-weight:normal !important; text-align:right;  width:100%; display:#display_kedatangan#">Kedatangan Produk : #estimasi#</div>
	<!--<div style="padding:7px;">		
		Stok Lokal : #stok_lokal# unit<br />
		Stok Pusat : #stok_pusat# unit<br />		
	</div>-->
</div>