<div style="width:100%; float:left; margin-top:5px; border-bottom:1px solid #CCC; background-color:#bgcolor#; display:#display_gudang#">
<div style="float:left; "><input type="number" name="q_#gudang#" id="q_#gudang#" value="#nilai_order#" #disabled# style="width:77px; border-bottom:none" /> unit dari</div>
<input type="button" name="btn_#gudang#" id="btn_#gudang#" value="#gudang# (#stok# unit)" #disabled# onclick="#onclick#" style="float:right; width:177px" />
<input type="hidden" id="qty_#gudang#" value="#stok#" />
</div>