<div style="text-align:center"><h2>APLIKASI DISCOUNT MANAGEMENT</h2></div>
<div style="text-align:justify; padding:7px">
	<div style="margin:7px 0px 7px 0px">Berikut adalah order baru yang masuk.<br />Mohon pastikan Sales Admin sudah menerima email ordernya (Klik kirim ulang di samping masing-masing data order apabila belum menerima email order) :</div>
	<table cellpadding="1" cellspacing="1" border="1" width="100%">
		<tr>
			<td style="background-color:yellow"><strong>Nomor</strong></td>
			<td style="background-color:yellow"><strong>Nomor Order</strong></td>
			<td style="background-color:yellow"><strong>Sales</strong></td>
			<td style="background-color:yellow"><strong>Dealer</strong></td>
			<td style="background-color:yellow"><strong>Tanggal Order</strong></td>
			<td style="background-color:yellow">&nbsp;</td>
		</tr>
		#konten#
	</table>
	<h2><a href="#URL#">Klik disini untuk mengirimkan email pengecekan ulang!</a></h2>
</div>