<div style="width:100%; border-bottom:1px #CCC solid; padding:0px;"  class="bg-#kelas#">
	<div style="padding:3px 0px 0px 7px">#item_nama#</div>	
	<div style=" text-align:right; padding:0px 7px 7px 0px; line-height:17px">
		Rp#item_harga#<br />
		<input type="text" id="t_#item#" value="" style="width:53px" onKeyPress="return numbersonly(this, event)"  />
		<input type="button" id="#item#" value="Beli" onclick="simulasi(this)" />
		<input type="hidden" id="harga_#item#" value="#item_harga#" />
	</div>
</div>